.container-acercade{
    background-color: rgb(255, 255, 255);
    color: rgb(18, 18, 18);
    padding: 100px 0 50px 0;
    margin: 0;
}
.subcontainer-acercade{
    margin: auto;
    width: 70%;
}

h2{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0;
}
li{
    color: rgb(83, 83, 158);
    font-weight: 600;
    font-size: 1.15rem;
    padding: 3px 0;
}
.w{
    font-size: 1.4rem;
}
h3{
    font-size: 2rem;
    font-weight: 500;
}