.moviesFlex {
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: center;
    list-style: none;
  }
  
  @media (max-width: 560px) {
    .moviesFlex {
      flex-direction: column;
    }
  }