@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(35, 32, 32);
    color: #fff;
    font-family: 'Hind Madurai', sans-serif;    
}