:root{
    --color-text: rgb(20, 19, 19);
    --color-background: rgba(246, 245, 245, 1);
}
.container-privacidad{
    background-color: var(--color-background);
    padding: 100px 0 50px 0;
    margin-bottom: 0px;
    color: var(--color-text);
}
.subcontainer-privacidad{
    width: 70%;
    margin: auto;
}