@mixin mobile {
  @media only screen and (max-width: 600px) {
      @content;
  }
}

@mixin flex($aligin-item, $justify-content) {
  display: flex;
  align-items: $aligin-item;
  justify-content: $justify-content;
}
.logo {
  font-size: 2.5rem;
  font-weight: 600;

  @include flex(center, unset);

  img {
      margin-right: 10px;
      

      @include mobile {
          width: 30px;
          margin-right: 0;
          
      }
  }
}
.navbar_ {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
   
    font-family: "Montserrat", sans-serif;
  
    &.scrolled{
      background-color: #0b0b0b;
    }
  
    .container {
      padding: 0px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

  
      .left {
        display: flex;
        align-items: center;
  
        img {
            height: 25px;
            margin-right: 10px;
          }
  
        span {
          margin-right: 20px;
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
  
      .right {
        display: flex;
        align-items: center;
        font-weight: 700;
        
      }
    }
    
  }

  .header {
    height: 8rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;
    a {
      color: white;
      text-decoration: none;
    
      &:hover {
        color: red;
      }
    }

    &__nav {
        @include flex(center, unset);

        & > * ~ * {
            margin-left: 2rem;
        }

        li {
            padding: 5px 0;
            font-weight: 700;
            position: relative;
            font-size: 1.5rem;
            color: #f9f8f8;
            list-style: none;
  

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.5s ease;
                height: 2px;
                background-color:  #ff0000;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }
        }
        @include mobile {
          position: relative;
          bottom: 0;
          left: 0;
          height: 5rem;
          width: 100%;
          background-color: #0f0f0f;;
          padding: 0 2rem;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          margin-bottom: 0;
          @include flex(center, space-around);

          & > * ~ * {
              margin-left: 0;
          }
      }
        
    }
}
