@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;500;700&display=swap');

/*DIV CONTENEDORES*/
.divRegistro, .divLogin{
    text-align: center;
}
/*div contenedor inputs*/
.registro, .login {
    display: flex;
    flex-direction: column;
}

.login input {
    width: 25% !important;
}
/* h3 y h4*/
.titulo{
    text-align: center;
    padding: 1rem;
}

 
@media only screen and (max-width: 480px)  {
    .login input{
        width: 70% !important;
    }
}

@media only screen and (min-width: 480px) and (max-width:780px) {
    .login input{
        width: 50% !important;
    }
}

@media only screen and (min-width: 1201px) {
}